body{margin: 0;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.container{width:960px; margin: 0 auto;}

/* menu */
header{background-color:#333333;}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
   }

   header .container i{margin-right: 5px;}
  

div h3{
    margin: 0; 
    font-size: 30px;
    color: #ff0066;
}
div span{
    display:block;
    color: #C0BAB6;
}
nav{
    background-color: black;
    margin: 0;padding: 0;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
}
nav a {
    text-decoration: none;
    display:inline-block;
    padding: 15px;
    color: white;
}
nav li:hover{
    background-color:gray;
}
/* menu */

/* banner */
.banner{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* banner */


/* info */
.info{
    margin-bottom: 30px;
}
.info .row{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    text-align: center;
}
.info .col{
    padding: 0 15px;
    
}

.info img{
    padding: 5px;;
    border: 1px solid black;
}
.info .col a{
    text-align: end;
}

.info .col .btn{
    display:block;
   text-decoration: none;
   color: orange;
}
/* info */


/* main */


.main .row{
    display: flex;
 
}
.main .row img{  
     margin-left: 72px;
     border: 1px solid black;
     padding: 10px
}

.main .colleft .btn{
    display:block;
   text-decoration: none;
   color: orange;
}

.main .colleft a{
    color: orange;
    text-align: end;
}

/* main */

/* 
prefooter */

.prefooter{
    background-color: #333333;
    margin-top: 20px;
   
}
.prefooter .row{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 25px 0;
}


.prefooter .row .col{
    flex-basis: 25%;
    margin-right: 15px;
}
.prefooter h1{
   color: #C0BAB6;
   margin-top: 0;
}
.prefooter ul{
    margin: 0; padding: 0;
}
.prefooter li{
    list-style: none;
    border-bottom: 1px solid gray;
    padding: 5px 0px;
}
.prefooter a{
    text-decoration: none;
    padding: 5px;
    display:block;
    text-decoration: none;
    color: orange;
    font-size: 13px;
}

/* prefooter */


/* footer */

footer{
  
    background-color:black;
    padding: 20px;
}
footer div{
    color: #C0BAB6;
   }

footer .container{
    display: flex;
    justify-content: space-between;
     }

    /* footer */